/* color palette from <https://github.com/vuejs/theme> */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: normal;
  /* border: 1px solid black; */
}
textarea {
   font-family: inherit;
   font-size: inherit;
}
form {
  font-size: 0;
}
body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: 'Source Sans Pro', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
